<div class="col-md-12">
<h3>{{idea.title}}
    <small> 
        by 
        <a href="/profile/{{author._id}}">
            {{author.firstName}} {{author.lastName}}
        </a>
    </small>
</h3>
<p>{{idea.description}}</p>

<p class="text-center">
    {{idea.supporters.length}} Supporters
</p>

<h4>Comments:</h4>
<ul class="media-list">
    {{#each comments}}
        <li class="media">
            <div class="media-left">
                <a href="/profile/{{this.fullAuthor._id}}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">
                    {{this.fullAuthor.firstName}} {{this.fullAuthor.lastName}} 
                    <small>({{this.fullAuthor.ideas.length}} Ideas)</small>
                </h5>
                <p>{{this.notes}}</p>
            </div>
        </li>
    {{/each}}
</ul>
